.piece-movable-destination:hover{
  -fx-border-style: solid;
  -fx-border-color: orange;
  -fx-border-width: 2; 
  -fx-cursor: hand; 
  
}

.piece-movable:hover {
  -fx-border-style: solid;
  -fx-border-color: red;
  -fx-border-width: 2; 
  -fx-cursor: hand; 
  
}

.piece-movable.clicked{
	-fx-border-color: white;
	-fx-border-width: 2;
	-fx-cursor: pointer; 
	
}

.board-background{
	-fx-background-color: #009d3c;
}
